@model IEnumerable<CMCS_WebApplication.Models.Claim>
        

@{
    ViewData["Title"] = "ClaimList";
}

<!--Help with learning and understanding the HTML and CSS on this page: (W3Schools, n.d.)-->

<h2 style="padding:50px;"><center>All Claims</h2>

<!--Table that will be used to display claims data-->
<table class="table table-bordered table-hover">
    <thead class="header-dark">
        <tr>
            <th>Claim ID</th>
            <th>Lecturer ID</th>
            <th>Hours Worked</th>
            <th>Hourly Rate</th>
            <th>Claim Status</th>
            <th>Final Pay</th>
        </tr>
    </thead>
    
    <tbody>
        <!--Loops through every claim from the Claim Model and displays them-->
        @foreach (var claim in Model) //Code for foreach loop (W3Schools)
        {
            <tr>
                <td>@claim.RowKey</td>
                <td>@claim.Lecturer_ID</td>
                <td>@claim.Hours_Worked</td>
                <td>@claim.Hourly_Rate</td>
                <td>@claim.Claim_Status</td>
                <td>@claim.Final_Pay</td>
            </tr>
        }
    </tbody>
</table>

<!--Styling for the View Claims page (W3Schools, n.d.)-->
<style>

    .table {
        width: 100%; 
        border-collapse: collapse; 
    }

    .header-dark {
        background-color: #343a40; 
        color: white; 
        font-weight: bold; 
    }

    .table {
        margin-bottom: 20px;
    }

    .table td, .table th {
        padding: 12px 15px; 
        text-align: center; 
    }

    .table-hover tbody tr:hover {
        background-color: #f1f1f1; 
        cursor: pointer; 
    }

    .table-bordered {
        border: 1px solid #ddd; 
    }


</style>